body {
background-image: url(ola.png);
background-repeat: no-repeat;
background-position: center;
margin-right: 200px;
}
p{
font-family: verdana;
font-size: 
}
h1{
text-decoration: underline;
}
